/******************
MAIN DIVS
******************/

.floor-data-section {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
}

.floorData {
  display: inline-block;
  width: 49%;
  height: 100%;
  float: right;
}

.info-viz {
  display: inline-block;
  width: 51%;
  height: 100%;
  float: left;
}


.roomData {
  display: inline-block;
  width: 49%;
  vertical-align:top;
}

.room-data-section {
  display: none;
}

.three-model-container {
  /*float: right;*/
  width: 50%;
  height: 70%;
  display: inline-block;
  /*position: absolute;*/
  top: 0;
  left:0;
}

/******************
FOR TEXT DISPLAY
******************/
.energy-key-name {
  display: inline-block;
  width: 50%;
  font-family: Raleway;
  font-weight: 700;
}

.energy-value {
  display: inline-block;
  width: 50%;
  font-family: Raleway;
  font-weight: 400;
}

/******************
Page 1 - ID
******************/

#embed-most-used-equipment-image {
  display: inline-block;
  float: left;
}

/******************
INPUTS
******************/

.input-slider-container {
  display: block;
  width: 100%;
  font-family: Raleway;
  font-size: 1em;
  text-align: center;
}

.input-slider-button  {
  margin: 15px auto;
  font-size: 1em;
}

.input-section {
  width: 20%;
  height: 30%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left:0;
}

/******************
LINE GRAPH-OVERALL
******************/
#visualisation-line {
  display: inline-block;
  width: 80%;
  height: 25%;
  vertical-align: top;
  position: absolute;
  bottom:0;
  right: 0;
}

/******************
LINE GRAPH
******************/



#visualisation {
  display: inline-block;
  width: 49%;
  height: 500px;
  vertical-align: top;
}

.line-graph-axis {
  font-family: Wire One;
}

/******************
TREE MAP
******************/
.tree-map-room-container {
  display: inline-block;
  width: 49%;
}

.tree-map-room {

  font-family: Wire One;
  font-weight: 400;
  border: solid 1px white;
  line-height: 0.95;
  overflow: hidden;
  position: absolute;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image:         linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  text-shadow: -1px -1px 2px hsla(0,0%,100%,0.25),
      -1px -1px 2px hsla(0,0%,100%,0.25),
      -1px 1px 2px hsla(0,0%,100%,0.25),
      1px -1px 2px hsla(0,0%,100%,0.25),
      -1px 0px 2px hsla(0,0%,100%,0.25),
      1px 0px 2px hsla(0,0%,100%,0.25);

}

.tree-map-room-saturate {
  opacity: 0.2;
  transition: opacity 0.5s;
}

.tree-map-room div {
   padding: 6px 4%;
}

.back-to-home {
  font-family: Wire One;
  font-size: 1.5em;
}
