@font-face {
  font-family: Fedra Mono;
  src:  url('fonts/FedraMono-Normal.otf');
}

body {
  background-color: black;
}

p{
  font-family: Fedra Mono;
  color: white;
}

/******************
MAIN DIVS
******************/

.floor-data-section {
  width: 30%;
  height: 70%;
  display: inline-block;
  float: right;
}

.floorData {
  display: inline-block;
  width: 49%;
  height: 100%;
  float: right;
}

.info-viz {
  background-color:black;
  display: inline-block;
  width: 100%;
  height: 100%;
  float: right;
}


.roomData {
  display: inline-block;
  width: 49%;
  vertical-align:top;
}

.room-data-section {
  display: none;
}

.three-model-container {
  /*float: right;*/
  width: 50%;
  height: 80%;
  display: inline-block;
  /*position: absolute;*/
  top: 0;
  left:0;
}

/******************
FOR TEXT DISPLAY
******************/
.energy-key-name {
  display: inline-block;
  width: 50%;

  font-family: Fedra Mono;
  font-weight: 700;
}

.energy-value {
  display: inline-block;
  width: 50%;
  font-family: Fedra Mono;
  font-weight: 400;
}

/******************
PLUG IT IN SECTION
******************/
.plug-it-in-data {
  display: inline-block;
  color: white;
  font-family: Fedra Mono;
  font-size: 1em;
  position: absolute;
  height: 70%;
  width: 30%;
  right: 0;
  top: 0;
}

.plug-it-in-value {
  display: block;
  color: white;
  font-family: Fedra Mono;
  font-size: 2em;
  text-align: center;
  margin-top: 5%;
}
/******************
Page 1 - ID
******************/

#embed-most-used-equipment-image {
  display: block;
  padding:10px;
  height: 100%;
  text-align: center;
}

/******************
INPUTS
******************/
.hover-room {
  font-family: Fedra Mono;
  font-size: 1em;
  color: white;
}

.input-slider-container {
  display: block;
  padding-left: 10px;
  width: 100%;
  color: white;
  font-family: Fedra Mono;
  font-size: 1em;
  text-align: left;
}

.input-slider-button  {
  margin: 15px auto;
  font-size: 0.9em;
  font-family: Fedra Mono;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.input-slider-label {
  font-family: Fedra Mono;
  color:white;
}

.input-slider-value {
  font-family: Fedra Mono;
  color:white;
}

.input-section {
  width: 20%;
  height: 30%;
  display: inline-block;
  position: absolute;
  top: 10;
  left:0;
}



/******************
CIRCLES
******************/

.circles-container {
  background-color:yellow;
  display: inline-block;
  width: 70%;
  height: 485px;
  float: left;
}



/******************
LINE GRAPH-OVERALL
******************/

.overall-line-graph {
  background-color: darkgoldenrod;
  width: 100%;
  height: 20%;
  vertical-align: top;
  position: absolute;
  bottom: 0;
  left: 0;

}


#visualisation-line {
  padding-left: 50px;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: Fedra Mono;
  text-decoration-color:white;
  font-style: normal;
  vertical-align: top;
  position: absolute;
  bottom:0;
  left: 0;
}

/******************
LINE GRAPH
******************/

#visualisation {
  display: inline-block;
  width: 49%;
  height: 500px;
  vertical-align: top;
}

.line-graph-axis {
  font-family: Fedra Mono;
  color: white;
}

.back-to-home {
  font-color: white;
  font-family: Fedra Mono;
  font-size: 1.5em;
}


/******************
LINE GRAPH
******************/



#visualisation {
  display: inline-block;
  width: 69%;
  height: 240px;
  vertical-align: top;
  margin-top:40px;
}

.line-graph-axis {
  font-family: Fedra Mono;
}

/******************
TREE MAP
******************/
.tree-map-room-container {
  display: inline-block;
  height: 40%;
  width: 69%;
}

.tree-map-room {

  font-family: Fedra Mono;
  font-weight: 400;
  border: solid 1px black;
  line-height: 0.95;
  overflow: hidden;
  position: absolute;
  border-radius: 6px;
  /*background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  background-image:         linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
  text-shadow: -1px -1px 2px hsla(0,0%,100%,0.25),
      -1px -1px 2px hsla(0,0%,100%,0.25),
      -1px 1px 2px hsla(0,0%,100%,0.25),
      1px -1px 2px hsla(0,0%,100%,0.25),
      -1px 0px 2px hsla(0,0%,100%,0.25),
      1px 0px 2px hsla(0,0%,100%,0.25);*/

}

.tree-map-room-saturate {
  opacity: 0.2;
  transition: opacity 0.5s;
}

.tree-map-room div {
   padding: 6px 4%;
}

.back-to-home {
  font-family: Fedra Mono;
  font-size: 1.5em;
  position: absolute;
  top:10px;
  left: 10px;
  color: white;
}
